---
layout: "layouts/base.njk"
---
<hgroup class="py-4 sm:py-10">
    <p class="font-semibold text-base sm:text-lg text-center py-4 text-gray-500">Published on {{date|formattedDate}}</p>
    <h1 class="font-display text-3xl sm:text-6xl text-center">
        {{title}}
    </h1>
</hgroup>
<article class="prose prose-slate font-sans sm:prose-lg prose-code:font-mono prose-pre:max-w-full sm:mx-auto">
    {{content | safe}}
    <section>
        <h3>Additional resources for you</h3>
        <ul>
            {% for tip in related %}
                <li>
                    <a href="/tips/{{tip | slugify}}">{{tip}}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
</article>
   


