---
layout: "layouts/base.njk"
---
<div class="flex">
    <article class="prose prose-slate sm:prose-lg font-sans prose-h1:text-4xl my-10 prose-code:font-mono">
        <h1>
            {{title}}
        </h1>
        <p>{{date|formattedDate}}</p>
        {{content | safe}}

        <section>
            <h3>Additional resources for you</h3>
            <ul>
                {% for tip in related %}
                    <li>
                        <a href="/tips/{{tip | slugify}}">{{tip}}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </article>
    <aside class="prose prose-slate sm:prose-lg hidden sm:block h-auto mt-48">
        <div class="sticky top-20 prose-li:list-none">
            {{content | toc | safe}}
        </div>   
    </aside>

</div>

