/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/fira-code-v21-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* caprasimo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Caprasimo";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/caprasimo-v1-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/archivo-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/archivo-v18-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/archivo-v18-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* archivo-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/archivo-v18-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.named-fence-block {
  position: relative;
}

.named-fence-filename {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.3rem 1rem;
  color: white;
  background: transparent;
  font-family: "Fira Code";
  border-bottom: solid 2px goldenrod;
}

p a {
  display: inline-flex;
  align-items: center;
}

a[href*="youtube.com"]::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f167";
  font-style: normal;
  text-rendering: auto;
  padding: 0px 2px;
}

a[href*="github.com"]::before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  content: "\f09b";
  font-style: normal;
  text-rendering: auto;
  padding: 0px 2px;
  text-decoration: none;
}
