---
layout: layouts/base.njk
title: Hrishikesh Pathak
description: Hi, I am Hrishikesh Pathak. A programmer and writer. This is my blog. I write programming tutorials and daily coding tips on web development.
date: 2021-07-01
---

<h1>Hi I am Hrishikesh</h1>

