<nav>
  <div class="flex justify-between items-center">
    <div>
      <a href="/"
        ><img src="/images/logo.webp" alt="Site logo" class="h-10"
      /></a>
    </div>
    <div>
      <ul
        class="hidden sm:inline-flex items-center gap-8 font-medium text-gray-600"
      >
        <li>
          <a href="/blog">
            <i class="fa-regular fa-file-lines"></i>
            <span>Blog</span>
          </a>
        </li>
        <li>
          <a href="/tips">
            <i class="fa-regular fa-lightbulb"></i>
            <span> Tips </span>
          </a>
        </li>
        <li>
          <a href="/feed.xml">
            <i class="fa-solid fa-rss"></i>
            <span>Feed</span></a
          >
        </li>
        <li>
          <a href="https://twitter.com/hrishikshpathak">
            <i class="fa-solid fa-hashtag"></i>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="mailto:hrishikeshb2pathak@gmail.com">
            <i class="fa-solid fa-at"></i>
            <span>Email</span>
          </a>
        </li>
      </ul>
      <button class="relative sm:hidden" id="menu-btn">
        <span class="sr-only">menu button</span>
      </button>
    </div>
  </div>
  <!-- mobile menu -->
  <input type="checkbox" id="nav-toggle" class="hidden" />
  <ul
    class="w-fit absolute py-2 right-4 bg-white rounded border hidden"
    id="mobile-menu"
  >
    <li class="py-2 px-6">
      <a href="/blog">
        <i class="fa-regular fa-file-lines"></i>
        <span>Blog</span>
      </a>
    </li>
    <li class="py-2 px-6">
      <a href="/tips">
        <i class="fa-regular fa-lightbulb"></i>
        <span>Tips</span>
      </a>
    </li>
    <li class="py-2 px-6">
      <a href="/feed.xml">
        <i class="fa-solid fa-rss"></i>
        <span>Feed</span>
      </a>
    </li>
    <li class="py-2 px-6">
      <a href="https://twitter.com/hrishikshpathak">
        <i class="fa-solid fa-hashtag"></i>
        <span>Twitter</span>
      </a>
    </li>
    <li class="py-2 px-6">
      <a href="mailto:hrishikeshb2pathak@gmail.com">
        <i class="fa-solid fa-at"></i>
        <span>Drop a mail</span>
      </a>
    </li>
  </ul>
</nav>

<script defer>
  const toggleElement = document.getElementById("nav-toggle");
  const menuButton = document.getElementById("menu-btn");
  const mobileMenu = document.getElementById("mobile-menu");

  menuButton.innerHTML = `<i class="fa-solid fa-bars text-lg"></i>`;

  menuButton.addEventListener("click", () => {
    toggleElement.click();
    if (toggleElement.checked) {
      mobileMenu.classList.remove("hidden");
      menuButton.innerHTML = `<i class="fa-solid fa-xmark text-lg"></i>`;
    } else {
      mobileMenu.classList.add("hidden");
      menuButton.innerHTML = `<i class="fa-solid fa-bars text-lg"></i>`;
    }
  });
</script>

<!-- <script defer>
  const themebtn = document.getElementById("theme-btn");

  // Listening the user click on the button and changing the theme accordingly
  themebtn.addEventListener("click", (e) => {
    if (e.target.checked) {
      document.documentElement.setAttribute("data-theme", "dracula");
      localStorage.setItem("theme", "dracula");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  });

  // for initial load adjusting the icons
  if (document.documentElement.getAttribute("data-theme") == "light") {
    themebtn.checked = false;
  } else {
    themebtn.checked = true;
  }
</script> -->
